Flask                   
opencv-python            
mediapipe              
numpy                  
fpdf                     
pyttsx3                               
keras                             
Pillow                
scikit-learn             
imutils                  
pandas                  
matplotlib             
Flask-Cors            

tensorflow==2.13.1
gunicorn==23.0.0
